Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@ujicama 
ujicama
/
cub3D
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
cub3D/.gitignore

ujicama added parser to engine; various fixes
Latest commit 5767683 2 days ago
 History
 0 contributors
67 lines (54 sloc)  578 Bytes

## Mlx related
Makefile.gen
/test/mlx-test

## Editor
.vscode/*
*~
\#*\#

## Other
.DS_STORE



## Template from https://github.com/github/gitignore
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf